<a href="https://colab.research.google.com/github/Rama-alhomsi/Travel-Tide-/blob/main/TravelTide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Connection

Import the needed libraries

In [7]:
import pandas as pd
import sqlalchemy as sa

Create a variable with the link to the database

In [6]:
traveltide_database = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

Initialize the database engine and connect to the database

In [8]:
engine = sa.create_engine(traveltide_database)
connection = engine.connect().execution_options(isolation_level = "AUTOCOMMIT")

Create an inspector object for the database

In [9]:
inspector = sa.inspect(engine)

 Get the names of tyhe tables

In [ ]:
table_names = inspector.get_table_names()
table_names

['hotels', 'users', 'flights', 'sessions']

### EDA

####Understanding the Data Structure
To understand the data structure, we should start by querying the number of rows in each table and examining the data types of the columns.

Get the number of rows in each table

Query to Get the Size of Each Table

In [ ]:

query="""
SELECT 'users' AS table_name, COUNT(*) AS row_count FROM users
UNION ALL
SELECT 'sessions' AS table_name, COUNT(*) AS row_count FROM sessions
UNION ALL
SELECT 'flights' AS table_name, COUNT(*) AS row_count FROM flights
UNION ALL
SELECT 'hotels' AS table_name, COUNT(*) AS row_count FROM hotels;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

  table_name  row_count
0      users    1020926
1     hotels    1918617
2    flights    1901038
3   sessions    5408063

#### Initial Data Quality Check
Perform initial checks to ensure data integrity. This includes checking for null values and examining unique values in categorical columns.

Check for null values in each column of the users table

In [ ]:
query="""
SELECT
    SUM(CASE WHEN user_id IS NULL THEN 1 ELSE 0 END) AS user_id_nulls,
    SUM(CASE WHEN birthdate IS NULL THEN 1 ELSE 0 END) AS birthdate_nulls,
    SUM(CASE WHEN gender IS NULL THEN 1 ELSE 0 END) AS gender_nulls,
    SUM(CASE WHEN married IS NULL THEN 1 ELSE 0 END) AS married_nulls,
    SUM(CASE WHEN has_children IS NULL THEN 1 ELSE 0 END) AS has_children_nulls,
    SUM(CASE WHEN home_country IS NULL THEN 1 ELSE 0 END) AS home_country_nulls,
    SUM(CASE WHEN home_city IS NULL THEN 1 ELSE 0 END) AS home_city_nulls,
    SUM(CASE WHEN home_airport IS NULL THEN 1 ELSE 0 END) AS home_airport_nulls,
    SUM(CASE WHEN home_airport_lat IS NULL THEN 1 ELSE 0 END) AS home_airport_lat_nulls,
    SUM(CASE WHEN home_airport_lon IS NULL THEN 1 ELSE 0 END) AS home_airport_lon_nulls,
    SUM(CASE WHEN sign_up_date IS NULL THEN 1 ELSE 0 END) AS sign_up_date_nulls

FROM users;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id_nulls,birthdate_nulls,gender_nulls,married_nulls,has_children_nulls,home_country_nulls,home_city_nulls,home_airport_nulls,home_airport_lat_nulls,home_airport_lon_nulls,sign_up_date_nulls
0,0,0,0,0,0,0,0,0,0,0,0

Get unique values in the gender column , Breakdown of users by gender

Query to Examine Unique Values in Categorical Columns:

In [ ]:
query="""
SELECT gender, COUNT(*) AS user_count
FROM users
GROUP BY gender
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

  gender  user_count
0      F      453654
1      M      558986
2      O        8286

####Descriptive Analysis
Start by understanding the basic demographics of our user base and continue with descriptive statistics for hotel and flight bookings.

Query to Get Breakdown of Users by Gender, Marital Status, and Whether They Have Children:

In [ ]:
query = """
-- Get unique values in the hotel_name column, split by '-'
SELECT DISTINCT SPLIT_PART(hotel_name, '-', 1) AS brand_hotel_name,
                SPLIT_PART(hotel_name, '-', 2) AS hotel_name
FROM hotels
LIMIT 1000;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

    brand_hotel_name  hotel_name
0             Accor    abu dhabi
1             Accor        accra
2             Accor         agra
3             Accor        amman
4             Accor    amsterdam
..               ...         ...
995  Extended Stay        berlin
996  Extended Stay        bogota
997  Extended Stay        boston
998  Extended Stay      brussels
999  Extended Stay     bucharest

[1000 rows x 2 columns]

Breakdown by marital status

In [ ]:
query="""
SELECT married, COUNT(*) AS user_count
FROM users
GROUP BY married;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

   married  user_count
0    False      626109
1     True      394817

Breakdown by whether users have children

In [ ]:
query="""
SELECT has_children, COUNT(*) AS user_count
FROM users
GROUP BY has_children;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

   has_children  user_count
0         False      701289
1          True      319637

Extract the year from birthdate and count occurrences

In [ ]:
query="""
SELECT CAST(EXTRACT(YEAR FROM birthdate) AS INT) AS birth_year, COUNT(*) AS user_count
FROM users
GROUP BY CAST(EXTRACT(YEAR FROM birthdate) AS INT)
ORDER BY CAST(EXTRACT(YEAR FROM birthdate) AS INT);
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

    birth_year  user_count
0         1931           1
1         1932           5
2         1933           8
3         1934          24
4         1935          33
..         ...         ...
71        2002       11063
72        2003        9575
73        2004        8619
74        2005        7497
75        2006       43360

[76 rows x 2 columns]

In [ ]:
query="""SELECT
MAX(CAST(EXTRACT(YEAR FROM birthdate) AS INT)) AS MAX_birth_year,
MIN(CAST(EXTRACT(YEAR FROM birthdate) AS INT)) AS MIN_birth_year
FROM users
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

   max_birth_year  min_birth_year
0            2006            1931

In [ ]:
query = """
SELECT CAST(PERCENTILE_CONT(0.5) WITHIN GROUP (
    ORDER BY EXTRACT(YEAR FROM AGE(CURRENT_DATE, sign_up_date)) * 12 +
             EXTRACT(MONTH FROM AGE(CURRENT_DATE, sign_up_date)) +
             EXTRACT(DAY FROM AGE(CURRENT_DATE, sign_up_date)) / 30.0
) AS INT) AS median_customer_age_in_months
FROM users;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

   median_customer_age_in_months
0                             20

 10 most popular hotels based on booking count

In [ ]:
query = """
SELECT
    COUNT(*) AS total_bookings,
    ROUND(AVG(nights), 2) AS avg_nights_stayed,
    ROUND(AVG(hotel_per_room_usd), 2) AS avg_price_per_night_usd
FROM
    hotels h
LEFT JOIN
    sessions s ON h.trip_id = s.trip_id
WHERE
   hotel_booked = 'true'
GROUP BY
    hotel_name
ORDER BY
    total_bookings DESC
LIMIT
    10;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

   total_bookings  avg_nights_stayed  avg_price_per_night_usd
0           14247               4.20                   178.18
1           14235               4.10                   178.41
2           14190               4.18                   176.54
3           14179               4.19                   178.35
4           14167               4.15                   176.29
5           14145               4.15                   176.10
6           14121               4.14                   175.33
7           14113               4.17                   174.35
8           14109               4.16                   176.93
9           14107               4.18                   178.51

10 most expensive hotels by average price per night

In [ ]:
query="""
SELECT hotel_name,
       AVG(hotel_per_room_usd) AS avg_price_per_night,
       ROUND(AVG(nights),0) AS avg_nights_stayed
FROM hotels
GROUP BY hotel_name
ORDER BY avg_price_per_night DESC
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

                         hotel_name  avg_price_per_night  avg_nights_stayed
0                Marriott  - dalian           558.333333               11.0
1         InterContinental  - lagos           500.000000               13.0
2                Shangri-La - accra           486.000000               17.0
3             Choice Hotels - accra           485.000000                8.0
4                      Accor - pune           383.000000               14.0
...                             ...                  ...                ...
2793  InterContinental  - bucharest            59.500000               10.0
2794          Aman Resorts - beirut            58.000000               10.0
2795    InterContinental  - colombo            58.000000               11.0
2796                Accor - tianjin            51.000000               11.0
2797               Marriott  - pune            31.000000               10.0

[2798 rows x 3 columns]

In [ ]:
query = """
SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY hotel_per_room_usd) AS median_price_per_night,
    AVG(hotel_per_room_usd) AS avg_price_per_night,
    AVG(nights) AS avg_nights_stayed
FROM
    hotels;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

   median_price_per_night  avg_price_per_night  avg_nights_stayed
0                   148.0           177.305372           4.271452

Query to Get the most used airline in the last 6 months

In [ ]:
query = """
WITH RecentSessions AS (
    SELECT trip_id, MAX(session_end) AS last_session_end
    FROM sessions
    GROUP BY trip_id
)
SELECT f.trip_airline, COUNT(*) AS flight_count
FROM flights f
JOIN RecentSessions rs ON f.trip_id = rs.trip_id
WHERE f.departure_time >= rs.last_session_end - INTERVAL '6 months'
GROUP BY f.trip_airline
ORDER BY flight_count DESC
LIMIT 5;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

         trip_airline  flight_count
0     Delta Air Lines        273160
1   American Airlines        272523
2     United Airlines        250810
3  Southwest Airlines        142087
4             Ryanair        127116

Query to Get the Average Number of Seats Booked on Flights:

In [ ]:
query = """
SELECT ROUND(AVG(seats), 0) AS avg_seats_booked
FROM flights;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

   avg_seats_booked
0               1.0

Get the median number of seats booked on flights

In [ ]:
query = """
SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY seats) AS median_seats_booked
FROM flights;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

Result Query :

   median_seats_booked
0                  1.0

Joining users and sessions tables

In [ ]:
query="""
SELECT
  u.user_id, u.birthdate, u.gender, u.home_country, u.home_city,
  s.session_id, s.trip_id, s.session_start, s.flight_discount, s.hotel_discount, s.flight_booked, s.hotel_booked
FROM users u
JOIN sessions s ON u.user_id = s.user_id;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,birthdate,gender,home_country,home_city,session_id,trip_id,session_start,flight_discount,hotel_discount,flight_booked,hotel_booked
0,5478,2005-03-18,F,usa,new york,5478-7e459ad74b5c436caf9afcac5c33b79b,None,2021-11-29 16:35:00,False,False,False,False
1,6039,2002-07-23,M,canada,calgary,6039-dfd308b82619433e98ba4bdf049f3615,None,2021-11-29 06:02:00,False,False,False,False
2,6897,2005-02-26,F,usa,phoenix,6897-19ce08be60d84ec3993454e989ef80e7,6897-dca229cdd4784a3b9049591c035c0531,2021-11-29 18:04:00,False,True,False,True
3,7184,2000-06-03,M,usa,new york,7184-45f04d0d335e43639a332e703bb8db4b,None,2021-11-29 22:23:00,False,False,False,False
4,7666,1990-12-04,M,usa,portland,7666-b39e2c44ccaa4437bb65611c8e2df10c,None,2021-11-29 11:14:00,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5408058,2789,1974-09-22,M,usa,long beach,2789-16a9cf97086046789247227647144c29,None,2021-11-29 03:47:00,False,False,False,False
5408059,3492,2000-07-25,M,usa,los angeles,3492-ee4592cf827749b8814f19059bda41a4,None,2021-11-29 16:18:00,False,False,False,False
5408060,3501,1998-06-16,F,canada,gatineau,3501-4f8ff0816ee64c2cb8074af5140ef581,None,2021-11-29 19:48:00,True,True,False,False
5408061,3897,1983-08-17,M,usa,los angeles,3897-d795865b56794149bcd15e7c18a21295,3897-e52bc5ea35df43ba89e378f2470d53ac,2021-11-29 21:37:00,False,False,True,True
5408062,4198,2002-12-10,M,usa,louisville,4198-8015be37f74b414795f33f3152e53a0b,4198-c1c6f12280844ecd96e95406c53177df,2021-11-29 07:05:00,False,False,True,False

####Session-Level Insights

Understand the session behaviors such as duration, number of clicks, and the presence of bookings.

In [ ]:
query="""
WITH user_bookings AS (
    SELECT user_id,
           SUM(CASE WHEN flight_booked ='true' THEN 1 ELSE 0 END) AS total_flight_bookings, -- Count bookings as 1, non-bookings as 0
           SUM(CASE WHEN hotel_booked ='true' THEN 1 ELSE 0 END) AS total_hotel_bookings  -- Count bookings as 1, non-bookings as 0
    FROM sessions
    WHERE cancellation ='false'
    GROUP BY user_id
),
avg_session_duration AS (
    SELECT user_id,
           AVG(((session_end - session_start)) / 60) AS avg_session_duration_minutes
    FROM sessions
    GROUP BY user_id
)
SELECT u.user_id,
       total_flight_bookings,
       total_hotel_bookings,
       (total_flight_bookings + total_hotel_bookings) AS total_bookings,
       avg_session_duration_minutes
FROM users u
JOIN user_bookings b ON u.user_id = b.user_id
JOIN avg_session_duration s ON u.user_id = s.user_id; -- Join with the average session duration CTE
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,total_flight_bookings,total_hotel_bookings,total_bookings,avg_session_duration_minutes
0,739528,2,2,4,0 days 00:00:02.077778
1,526375,2,2,4,0 days 00:00:20.038095
2,743241,0,1,1,0 days 00:00:00.983333
3,41011,5,6,11,0 days 00:00:01.929630
4,699125,3,2,5,0 days 00:00:02.696667
...,...,...,...,...,...
1020921,642133,4,5,9,0 days 00:00:02.730556
1020922,813046,1,0,1,0 days 00:00:01.454166
1020923,902060,1,2,3,0 days 00:00:02.158333
1020924,749518,1,1,2,0 days 00:00:02.591666
1020925,733333,1,1,2,0 days 00:00:01.866667

In [ ]:
query2 = """
WITH avg_session_duration AS (
    SELECT user_id,
           ROUND(AVG(EXTRACT(EPOCH FROM (session_end - session_start)) / 60), 2) AS avg_session_duration_minutes  -- Convert duration to minutes
    FROM sessions
    GROUP BY user_id
)
SELECT u.user_id,
       s.avg_session_duration_minutes
FROM users u
JOIN avg_session_duration s ON u.user_id = s.user_id;
"""
print('Result Query 2:')
display(pd.read_sql(sa.text(query2), connection))

Result Query 2:

         user_id  avg_session_duration_minutes
0              0                          1.65
1              1                          5.97
2              2                          3.44
3              3                          1.97
4              4                          1.56
...          ...                           ...
1020921  1020921                          1.02
1020922  1020922                          2.48
1020923  1020923                          4.87
1020924  1020924                          2.08
1020925  1020925                          2.25

[1020926 rows x 2 columns]

 Feature Engineering
Now that we understand the data,we will create meaningful features that can be used to segment customers.

####Create New Features

we may want to create new columns that summarize a user's interaction with TravelTide.
Calculate total number of bookings per user

In [ ]:
query="""
WITH user_bookings AS (
    SELECT user_id,
           SUM(CASE WHEN cancellation ='true'THEN 1 ELSE 0 END)AS cancellation_bookings, -- Count bookings as 1, non-bookings as 0
           SUM(CASE WHEN flight_booked ='true' THEN 1 ELSE 0 END) AS total_flight_bookings, -- Count bookings as 1, non-bookings as 0
           SUM(CASE WHEN hotel_booked ='true' THEN 1 ELSE 0 END) AS total_hotel_bookings  -- Count bookings as 1, non-bookings as 0
    FROM sessions
    WHERE cancellation ='false'
    GROUP BY user_id
)
SELECT u.user_id,
       cancellation_bookings,
       total_flight_bookings,
       total_hotel_bookings,
       (total_flight_bookings + total_hotel_bookings) AS total_bookings
FROM users u
JOIN user_bookings b ON u.user_id = b.user_id;
"""
print('Result Query 1:')
display(pd.read_sql(sa.text(query),connection))

Result Query 1:

,user_id,cancellation_bookings,total_flight_bookings,total_hotel_bookings,total_bookings
0,735390,0,1,0,1
1,743241,0,0,1,1
2,656077,0,0,0,0
3,41011,0,5,6,11
4,699125,0,3,2,5
...,...,...,...,...,...
1020921,539415,0,2,2,4
1020922,523828,0,2,1,3
1020923,95542,0,3,1,4
1020924,64483,0,0,0,0
1020925,296863,0,1,1,2

###segmentation

####Segment Customers Based on Total Bookings
This SQL query calculates the total number of flight and hotel bookings for each user and then segments these users into three categories based on their total bookings: High, Medium, and Low. The segmentation is defined as follows:

High: Users with 10 or more total bookings.
Medium: Users with 5 to 9 total bookings.
Low: Users with fewer than 5 total bookings.

In [ ]:
querey="""
-- Calculate total bookings and segment customers
WITH user_bookings AS (
    SELECT user_id,
           SUM(CASE WHEN flight_booked='true' THEN 1 ELSE 0 END) AS total_flight_bookings,
           SUM(CASE WHEN hotel_booked ='true' THEN 1 ELSE 0 END) AS total_hotel_bookings
    FROM sessions
    WHERE cancellation = 'false'
    GROUP BY user_id
),
booking_summary AS (
    SELECT u.user_id,
           (total_flight_bookings + total_hotel_bookings) AS total_bookings
    FROM users u
    JOIN user_bookings b ON u.user_id = b.user_id
)
SELECT user_id,
       CASE
           WHEN total_bookings >= 10 THEN 'High'
           WHEN total_bookings BETWEEN 5 AND 9 THEN 'Medium'
           ELSE 'Low'
       END AS booking_segment
FROM booking_summary;
"""
print('Result Query :')
# Use the defined variable 'querey' instead of 'query'
display(pd.read_sql(sa.text(querey),connection))

Result Query :

         user_id booking_segment
0         735390             Low
1         743241             Low
2         656077             Low
3          41011            High
4         699125          Medium
...          ...             ...
1020921   521445             Low
1020922   444353             Low
1020923   539415             Low
1020924   523828             Low
1020925   296863             Low

[1020926 rows x 2 columns]

####Identify Perk Preferences
This SQL query determines each user's preferred perk based on their session activity. The perks evaluated are Free Cancellation, Flight Discount, and Hotel Discount. The query identifies which perk each user prefers by comparing the frequency of their interactions with each type of perk.

In [ ]:
query="""
WITH perks_summary AS (
    SELECT
        user_id,
        SUM(CASE WHEN cancellation = 'true' THEN 1
            ELSE 0
            END) AS cancellation_pref,
        SUM(CASE WHEN flight_discount = 'true' AND cancellation = 'false' AND flight_booked = 'true' THEN 1
            ELSE 0
            END) AS flight_discount_pref,
        SUM(CASE WHEN hotel_discount = 'true' AND cancellation = 'false' AND hotel_booked = 'true' THEN 1
            ELSE 0
            END) AS hotel_discount_pref,
        SUM(CASE WHEN flight_booked = 'true' THEN 1 ELSE 0 END) as total_flight_booked,
        SUM(CASE WHEN hotel_booked = 'true' THEN 1 ELSE 0 END) as total_hotel_booked -- Add count of flight and hotel bookings here
    FROM sessions
    GROUP BY user_id
)
SELECT
    user_id,
    cancellation_pref,
    CASE
        WHEN (cancellation_pref <= 3) AND (total_flight_booked + total_hotel_booked > 3) THEN 'Free Cancellation'
        WHEN flight_discount_pref > hotel_discount_pref THEN 'Flight Discount'
        ELSE 'Hotel Discount'
    END AS preferred_perk
FROM perks_summary
order by cancellation_pref desc

;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

         user_id  cancellation_pref     preferred_perk
0          82350                  3  Free Cancellation
1          34144                  3  Free Cancellation
2          27305                  3  Free Cancellation
3           5254                  3  Free Cancellation
4           1107                  3  Free Cancellation
...          ...                ...                ...
1020921   923109                  0     Hotel Discount
1020922    92607                  0  Free Cancellation
1020923   670082                  0  Free Cancellation
1020924   921551                  0     Hotel Discount
1020925   109339                  0  Free Cancellation

[1020926 rows x 3 columns]

#### Recency, Frequency, Monetary (RFM) Analysis
RFM analysis is a classic method for customer segmentation, especially in marketing. It evaluates customers based on three factors:

Recency: How recently did the customer make a booking?
Frequency: How often does the customer make bookings?
Monetary: How much money does the customer spend on bookings?

Calculate Recency, Frequency, and Monetary value for each user

In [15]:
query="""
WITH rfm AS (
    SELECT
        s.user_id,
        MAX(DATE(s.session_end)) AS last_booking_date,  -- Recency: Date of the most recent session
        COUNT(s.session_id) AS frequency,               -- Frequency: Total number of sessions
        SUM(COALESCE(f.base_fare_usd, 0) + COALESCE(h.hotel_per_room_usd, 0)) AS monetary -- Monetary: Sum of all spending
    FROM sessions s
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    GROUP BY s.user_id
)
SELECT
    rfm.user_id,
    MAX(DATE(s.session_end)) - rfm.last_booking_date AS recency_days,  -- Calculate recency in days
    rfm.frequency,
    rfm.monetary
FROM rfm
JOIN sessions s ON rfm.user_id = s.user_id
GROUP BY rfm.user_id, rfm.last_booking_date, rfm.frequency, rfm.monetary;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

         user_id  recency_days  frequency  monetary
0         854079             0          3    866.57
1         673762             0          4   1114.39
2         784061             0          4    682.31
3          35314             0         11   4392.79
4          83623             0         11   1994.31
...          ...           ...        ...       ...
1020921    48580             0          8   2780.62
1020922  1001484             0          1      0.00
1020923   949142             0          1   2075.45
1020924   406956             0          8   2902.03
1020925   925395             0          2   3100.76

[1020926 rows x 4 columns]

####RFM Categorization:

We can then categorize customers into segments such as High Value, Loyal Customers, At-Risk Customers, etc., based on the RFM scores.

#### Lifetime Value (LTV)
Estimate the lifetime value of a customer by projecting future spending based on past behavior. This can be useful in identifying Our most valuable customers.

Calculate LTV by estimating future spending based on average spend and frequency

In [ ]:
querey="""
WITH ltv AS (
    SELECT
        user_id,
        AVG(base_fare_usd + hotel_per_room_usd) AS avg_spend_per_booking, -- Average spending per booking
        COUNT(session_id) AS booking_frequency
    FROM sessions s
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    GROUP BY user_id
)
SELECT
    user_id,
    (avg_spend_per_booking * booking_frequency) AS estimated_lifetime_value
FROM ltv;
"""
print('Result Query :')
# Use the defined variable 'querey' instead of 'query'
display(pd.read_sql(sa.text(querey),connection))

#### Behavioral Segmentation
Segment customers based on their interaction with the platform, such as:

Booking Behavior: Flight-only bookers, Hotel-only bookers, Both.
Cancellation Behavior: Frequent cancellers vs. non-cancellers.
Discount Sensitivity: Customers who frequently book with discounts vs. those who dont.

Segment users based on booking behavior

In [ ]:
querey="""
WITH booking_behavior AS (
    SELECT
        user_id,
        SUM(CASE WHEN flight_booked ='true' THEN 1 ELSE 0 END) AS flight_bookings,  -- Count flight bookings
        SUM(CASE WHEN hotel_booked ='true' THEN 1 ELSE 0 END) AS hotel_bookings   -- Count hotel bookings
    FROM sessions
    GROUP BY user_id
)
SELECT
    user_id,
    CASE
        WHEN flight_bookings > 0 AND hotel_bookings = 0 THEN 'Flight-only Booker'
        WHEN flight_bookings = 0 AND hotel_bookings > 0 THEN 'Hotel-only Booker'
        WHEN flight_bookings > 0 AND hotel_bookings > 0 THEN 'Both'
        ELSE 'No Bookings'
    END AS booking_behavior_segment
FROM booking_behavior;
"""
print('Result Query :')
# Use the defined variable 'querey' instead of 'query'
display(pd.read_sql(sa.text(querey),connection))

Result Query :

         user_id booking_behavior_segment
0         371316                     Both
1         358288                     Both
2         174416                     Both
3         129353       Flight-only Booker
4         243212                     Both
...          ...                      ...
1020921   914056                     Both
1020922   269977                     Both
1020923    60189                     Both
1020924  1017991              No Bookings
1020925  1001197              No Bookings

[1020926 rows x 2 columns]

#### Seasonality and Timing
Segment customers based on when they typically book (e.g., high season vs. low season, weekdays vs. weekends).

 Segment users based on the season they typically book

In [ ]:
query = """
WITH booking_season AS (
    SELECT
        s.user_id,
        EXTRACT(MONTH FROM f.departure_time) AS booking_month
    FROM flights f
    JOIN sessions s ON f.trip_id = s.trip_id
    WHERE f.departure_time IS NOT NULL
)
SELECT
    user_id,
    CASE
        WHEN booking_month IN (12, 1, 2) THEN 'Winter'
        WHEN booking_month IN (3, 4, 5) THEN 'Spring'
        WHEN booking_month IN (6, 7, 8) THEN 'Summer'
        WHEN booking_month IN (9, 10, 11) THEN 'Autumn'
        ELSE 'Unknown'
    END AS booking_season
FROM booking_season;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query), connection))

#### Churn Risk Segmentation
Identify customers who are at risk of churning (leaving the platform) based on their inactivity or other factors.

Segment users based on the risk of churn (e.g., no bookings in the last 6 months)

In [ ]:
query=""" WITH churn_risk AS (
    SELECT
        user_id,
        MAX(session_end) AS last_session_date
    FROM sessions
    GROUP BY user_id
)
SELECT
    user_id,
    CASE
        WHEN EXTRACT(DAY FROM
            (CURRENT_DATE - last_session_date)) > 180 THEN 'High Churn Risk'
        ELSE 'Low Churn Risk'
    END AS churn_risk_segment
FROM churn_risk;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

         user_id churn_risk_segment
0         786635    High Churn Risk
1          44127    High Churn Risk
2         835055    High Churn Risk
3         829359    High Churn Risk
4         549333    High Churn Risk
...          ...                ...
1020921   296863    High Churn Risk
1020922   342155    High Churn Risk
1020923    68453    High Churn Risk
1020924   710096    High Churn Risk
1020925   733333    High Churn Risk

[1020926 rows x 2 columns]

#### Loyalty Segmentation
Identify the most loyal customers based on metrics like the number of repeat bookings or the length of time theyve been a customer.

In [ ]:
query = """
WITH loyalty AS (
    SELECT
        u.user_id,
        COUNT(s.session_id) AS repeat_bookings,
        (CURRENT_DATE - u.sign_up_date) AS days_since_signup
    FROM sessions s
    JOIN users u ON s.user_id = u.user_id
    GROUP BY u.user_id
)
SELECT
    user_id,
    CASE
        WHEN repeat_bookings > 10 AND days_since_signup > 365 THEN 'High Loyalty'
        WHEN repeat_bookings BETWEEN 5 AND 10 THEN 'Medium Loyalty'
        ELSE 'Low Loyalty'
    END AS loyalty_segment
FROM loyalty;
"""
print('Result Query:')
display(pd.read_sql(sa.text(query), connection))

Result Query:

         user_id loyalty_segment
0         490024     Low Loyalty
1         522015  Medium Loyalty
2         261113  Medium Loyalty
3         159965  Medium Loyalty
4         503514  Medium Loyalty
...          ...             ...
1020921   598535     Low Loyalty
1020922   482718  Medium Loyalty
1020923   803393     Low Loyalty
1020924   622662     Low Loyalty
1020925  1017991     Low Loyalty

[1020926 rows x 2 columns]

#### Customer Value Segmentation
Classify customers into tiers based on their spending or contribution to revenue.

Segment users into value tiers based on their total spending

In [ ]:
 query="""
WITH customer_value AS (
    SELECT
        user_id,
        SUM(base_fare_usd + hotel_per_room_usd) AS total_spent
    FROM sessions s
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    GROUP BY user_id
)
SELECT
    user_id,
    CASE
        WHEN total_spent > 10000 THEN 'Platinum'
        WHEN total_spent BETWEEN 5000 AND 9999 THEN 'Gold'
        WHEN total_spent BETWEEN 1000 AND 4999 THEN 'Silver'
        ELSE 'Bronze'
    END AS value_segment
FROM customer_value;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

         user_id value_segment
0              0        Bronze
1              1      Platinum
2              2        Silver
3              3        Silver
4              4        Silver
...          ...           ...
1020921  1020921        Bronze
1020922  1020922        Bronze
1020923  1020923        Bronze
1020924  1020924        Bronze
1020925  1020925        Bronze

[1020926 rows x 2 columns]

#### Promotion Sensitivity
Identify customers who are more responsive to promotions or discounts.

 Segment users based on their sensitivity to promotions (e.g., those who booked more often with discounts)

In [ ]:
query = """
WITH promo_sensitivity AS (
    SELECT
        user_id,
        SUM(CASE WHEN flight_discount = TRUE OR hotel_discount = TRUE THEN 1 ELSE 0 END) AS discounted_bookings,
        COUNT(session_id) AS total_sessions
    FROM sessions
    GROUP BY user_id
)
SELECT
    user_id,
    CASE
        WHEN (discounted_bookings::float / total_sessions) >= 0.5 THEN 'Promotion Sensitive'
        ELSE 'Not Promotion Sensitive'
    END AS promo_segment
FROM promo_sensitivity;
"""
print('Result Query:')
display(pd.read_sql(sa.text(query), connection))

Result Query:

         user_id            promo_segment
0              0  Not Promotion Sensitive
1              1      Promotion Sensitive
2              2  Not Promotion Sensitive
3              3  Not Promotion Sensitive
4              4  Not Promotion Sensitive
...          ...                      ...
1020921  1020921  Not Promotion Sensitive
1020922  1020922      Promotion Sensitive
1020923  1020923  Not Promotion Sensitive
1020924  1020924      Promotion Sensitive
1020925  1020925  Not Promotion Sensitive

[1020926 rows x 2 columns]

#### Booking Window Segmentation
Segment customers based on how far in advance they book their travel plans.

Segment users based on how far in advance they book (e.g., last-minute vs. early planners)

In [ ]:
query="""
WITH booking_window AS (
    SELECT
        user_id,
        AVG(EXTRACT(DAY FROM departure_time - session_start)) AS avg_booking_window_days -- Use EXTRACT to get the difference in days
    FROM flights f
    JOIN sessions s ON f.trip_id = s.trip_id
    GROUP BY user_id
)
SELECT
    user_id,
    CASE
        WHEN avg_booking_window_days <= 7 THEN 'Last-Minute Bookers'
        WHEN avg_booking_window_days BETWEEN 8 AND 30 THEN 'Moderate Planners'
        ELSE 'Early Planners'
    END AS booking_window_segment
FROM booking_window;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

To implement a comprehensive segmentation strategy for TravelTide, I'll mix and match the suggested segmentation techniques. The goal is to create a detailed and nuanced customer view that can guide marketing efforts, improve retention, and enhance overall service.

### Data Preparation
First, let's assume the necessary tables (users, sessions, flights, hotels) are already available. We will clean and join these tables to create a master dataset that includes key metrics for each customer.

In [ ]:
query = """
WITH master_data AS (
    SELECT
        u.user_id,
        u.sign_up_date,
        u.home_country,
        u.home_airport_lat,
        u.home_airport_lon,
        COUNT(s.session_id) AS total_sessions,
        SUM(f.base_fare_usd + COALESCE(h.hotel_per_room_usd, 0)) AS total_spent,
        MAX(s.session_end) AS last_session_date,
        MIN(f.departure_time) AS first_booking_date,
        COUNT(DISTINCT f.trip_id) AS total_flight_bookings,
        COUNT(DISTINCT h.trip_id) AS total_hotel_bookings,
        AVG(CAST(f.departure_time AS DATE) - CAST(s.session_start AS DATE)) AS avg_booking_window_days,
        SUM(CASE WHEN s.flight_discount = TRUE OR s.hotel_discount = TRUE THEN 1 ELSE 0 END) AS discounted_bookings
    FROM users u
    LEFT JOIN sessions s ON u.user_id = s.user_id
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    WHERE s.session_start >= '2023-01-04'
    GROUP BY u.user_id
)
-- Use the master_data CTE to select the data
SELECT * FROM master_data;
"""

print('Result Query:')
display(pd.read_sql(sa.text(query), connection))

Result Query:

,user_id,sign_up_date,home_country,home_airport_lat,home_airport_lon,total_sessions,total_spent,last_session_date,first_booking_date,total_flight_bookings,total_hotel_bookings,avg_booking_window_days,discounted_bookings
0,0,2021-04-01,usa,44.880,-93.217,1,335.16,2023-03-13 19:23:56,2023-03-20 16:00:00,1,1,7.0,1
1,1,2021-04-01,usa,38.806,-104.700,1,NaN,2023-02-06 06:22:46,NaT,0,0,NaN,1
2,2,2021-04-01,usa,45.589,-122.597,2,NaN,2023-02-27 10:31:55,NaT,0,0,NaN,0
3,3,2021-04-01,usa,29.980,-95.340,1,NaN,2023-03-09 20:04:22,NaT,0,0,NaN,0
4,4,2021-04-01,usa,21.316,-157.927,2,1365.75,2023-03-10 21:22:27,2023-03-22 07:00:00,1,1,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
979796,1020921,2023-07-20,usa,32.502,-93.663,1,NaN,2023-07-20 13:04:01,NaT,0,0,NaN,0
979797,1020922,2023-07-20,usa,35.415,-97.386,1,415.65,2023-07-20 12:34:29,2023-07-25 13:00:00,1,1,5.0,1
979798,1020923,2023-07-20,canada,43.862,-79.370,1,356.43,2023-07-20 18:39:52,2023-07-25 07:00:00,1,1,5.0,0
979799,1020924,2023-07-20,usa,40.851,-96.759,1,NaN,2023-07-20 18:26:05,NaT,0,0,NaN,1
979800,1020925,2023-07-20,usa,35.042,-89.977,1,NaN,2023-07-20 16:31:15,NaT,0,1,NaN,0

### Segmentation Implementation
1. RFM (Recency, Frequency, Monetary) Segmentation

In [ ]:
query = """
WITH master_data AS (
    SELECT
        u.user_id,
        COUNT(s.session_id) AS total_sessions,
        SUM(f.base_fare_usd + h.hotel_per_room_usd) AS total_spent,
        MAX(s.session_end) AS last_session_date
    FROM users u
    LEFT JOIN sessions s ON u.user_id = s.user_id
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    GROUP BY u.user_id
)
-- RFM segmentation
SELECT
    user_id,
    EXTRACT(day FROM (CURRENT_DATE - last_session_date)) AS recency_days,  -- Recency
    total_sessions AS frequency,                                         -- Frequency
    total_spent AS monetary,                                              -- Monetary
    CASE
        WHEN total_spent > 10000 THEN 'High Value'
        WHEN total_spent BETWEEN 5000 AND 10000 THEN 'Medium Value'
        ELSE 'Low Value'
    END AS value_segment
FROM master_data;
"""

print('Result Query:')
display(pd.read_sql(sa.text(query), connection))

Result Query:

         user_id  recency_days  frequency  monetary value_segment
0              0         531.0         11    881.51     Low Value
1              1         566.0          7  10622.69    High Value
2              2         545.0          8   3440.04     Low Value
3              3         535.0          9   1301.13     Low Value
4              4         534.0         10   3106.14     Low Value
...          ...           ...        ...       ...           ...
1020921  1020921         402.0          1       NaN     Low Value
1020922  1020922         402.0          1    415.65     Low Value
1020923  1020923         402.0          1    356.43     Low Value
1020924  1020924         402.0          1       NaN     Low Value
1020925  1020925         402.0          1       NaN     Low Value

[1020926 rows x 5 columns]

### Analysis and Recommendations
With this combined segmentation, such as:

Targeted Email Campaigns: Personalize email content based on the value_segment, loyalty_segment, and booking_behavior_segment. For example, offer exclusive discounts to high-value, high-loyalty customers, or provide special last-minute deals to Last-Minute Bookers.
Retention Strategies: Focus retention efforts on customers in the High Churn Risk segment by offering special incentives or personalized offers to encourage continued engagement.
Promotion Sensitivity: Tailor promotions specifically for those identified as Promotion Sensitive, ensuring that the discounts or offers align with their booking patterns.
Loyalty Program: Develop loyalty tiers within the rewards program that align with the loyalty_segment and value_segment, offering more benefits to higher-tier customers.
This segmentation approach provides a robust foundation for TravelTide to improve customer retention, personalize marketing efforts, and enhance overall service quality.

## Defining the Cohort
Objective: Filter the customers to include only those who have enough data to provide meaningful insights.

Filter Criteria: Customers should have a certain number of sessions and should not have signed up recently (e.g., more than 30 days ago).

In [ ]:
query="""
SELECT u.*
FROM users u
JOIN (
    SELECT user_id, MAX(session_end) as max_session_end
    FROM sessions
    WHERE session_start >= '2023-01-04'
    GROUP BY user_id
    HAVING COUNT(session_id) >= 5 -- Filter for users with at least 5 sessions
) s ON u.user_id = s.user_id
WHERE u.sign_up_date <= s.max_session_end - INTERVAL '6 Months';
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,250891,1996-07-03,M,False,True,usa,milwaukee,MKE,42.947,-87.896,2022-07-16
1,5655,1980-11-24,F,False,False,usa,san jose,SJC,37.362,-121.929,2021-06-08
2,5723,1986-06-04,M,False,True,usa,san francisco,SFO,37.619,-122.375,2021-06-08
3,6402,2006-06-23,F,False,False,canada,toronto,YKZ,43.862,-79.370,2021-06-10
4,6684,1989-09-22,F,False,True,usa,burlington,BTV,44.472,-73.153,2021-06-11
...,...,...,...,...,...,...,...,...,...,...,...
34653,1557,1971-10-02,F,False,True,usa,stockton,SCK,37.894,-121.239,2021-05-15
34654,2423,1977-05-10,F,False,False,usa,fresno,FAT,36.776,-119.718,2021-05-23
34655,3585,1970-03-11,M,True,True,usa,santa ana,SNA,33.676,-117.868,2021-05-31
34656,4183,1980-10-18,M,False,False,usa,houston,HOU,29.645,-95.279,2021-06-03
34657,4794,1990-02-17,F,True,False,usa,detroit,DET,42.409,-83.010,2021-06-05

### Forming the Initial Extraction Query
Objective: Combine relevant data from sessions, flights, and hotels, and filter based on the cohort defined.

Steps:

Join Tables: Combine session, flight, and hotel data with the cohort defined.

In [ ]:
query="""SELECT u.user_id, u.sign_up_date, s.session_id, s.session_start, s.session_end, f.base_fare_usd, h.hotel_per_room_usd
FROM users u
JOIN sessions s ON u.user_id = s.user_id
LEFT JOIN flights f ON s.trip_id = f.trip_id
LEFT JOIN hotels h ON s.trip_id = h.trip_id
WHERE u.sign_up_date <= CURRENT_DATE - INTERVAL '30 days'
  AND u.user_id IN (
      SELECT user_id
      FROM sessions
      GROUP BY user_id
      HAVING COUNT(session_id) >= 5
  );
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

###User Spending and Activity Analysis
Cohort Filtering:
The query filters users who signed up at least 30 days ago and have engaged in at least five sessions. This ensures we are analyzing users who are active and have accumulated sufficient engagement data.

In [16]:
query="""SELECT
    u.user_id,
    COUNT(s.session_id) AS total_sessions,
    SUM(f.base_fare_usd) AS total_flight_spent,
    SUM(h.hotel_per_room_usd) AS total_hotel_spent,
    SUM(f.base_fare_usd + h.hotel_per_room_usd) AS total_spent,
    AVG(DATE_PART('day', f.departure_time::timestamp - s.session_start::timestamp)) AS avg_booking_window_days
FROM users u
JOIN sessions s ON u.user_id = s.user_id
LEFT JOIN flights f ON s.trip_id = f.trip_id
LEFT JOIN hotels h ON s.trip_id = h.trip_id
WHERE u.sign_up_date <= CURRENT_DATE - INTERVAL '30 days'
  AND u.user_id IN (
      SELECT user_id
      FROM sessions
      GROUP BY user_id
      HAVING COUNT(session_id) >= 5
  )
GROUP BY u.user_id;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,total_sessions,total_flight_spent,total_hotel_spent,total_spent,avg_booking_window_days
0,0,11,671.51,210.0,881.51,6.00
1,1,7,10500.30,583.0,10622.69,110.75
2,2,8,3244.63,510.0,3440.04,4.75
3,3,9,798.13,702.0,1301.13,6.00
4,4,10,2784.14,322.0,3106.14,10.00
...,...,...,...,...,...,...
613371,968741,5,710.81,136.0,846.81,9.00
613372,973613,5,NaN,NaN,NaN,NaN
613373,975578,5,NaN,50.0,NaN,NaN
613374,983004,5,NaN,NaN,NaN,NaN
613375,984667,5,459.94,232.0,691.94,5.00

###Forming the User Spending Distribution Query
Objective: Identify and analyze users whose total spending falls within a specific range based on interquartile range (IQR).

Cohort Filtering:
Only include users who signed up at least 30 days ago and have participated in at least five sessions to ensure the cohort consists of active users.

In [ ]:
query="""WITH stats AS (
    SELECT
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_spent) AS q1,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_spent) AS q3
    FROM (
        SELECT
            u.user_id,
            SUM(f.base_fare_usd + h.hotel_per_room_usd) AS total_spent
        FROM users u
        JOIN sessions s ON u.user_id = s.user_id
        LEFT JOIN flights f ON s.trip_id = f.trip_id
        LEFT JOIN hotels h ON s.trip_id = h.trip_id
       JOIN (SELECT user_id, MAX(session_end) as max_session_end FROM sessions GROUP BY user_id) as max_sessions ON u.user_id = max_sessions.user_id
            WHERE u.sign_up_date <= max_sessions.max_session_end - INTERVAL '30 days'
          AND u.user_id IN (
              SELECT user_id
              FROM sessions
              GROUP BY user_id
              HAVING COUNT(session_id) > 7
          )
        GROUP BY u.user_id
    ) AS subquery
),
data_with_iqr AS (
    SELECT
        *,
        q3 - q1 AS iqr
    FROM (
        SELECT
            user_id,
            total_spent
        FROM (
            SELECT
                u.user_id,
                SUM(f.base_fare_usd + h.hotel_per_room_usd) AS total_spent
            FROM users u
            JOIN sessions s ON u.user_id = s.user_id
            LEFT JOIN flights f ON s.trip_id = f.trip_id
            LEFT JOIN hotels h ON s.trip_id = h.trip_id
           JOIN (SELECT user_id, MAX(session_end) as max_session_end FROM sessions GROUP BY user_id) as max_sessions ON u.user_id = max_sessions.user_id
          WHERE u.sign_up_date <= max_sessions.max_session_end - INTERVAL '30 days'
              AND u.user_id IN (
                  SELECT user_id
                  FROM sessions
                  GROUP BY user_id
                  HAVING COUNT(session_id) > 7
              )
            GROUP BY u.user_id
        ) AS subquery
    ) AS data
    CROSS JOIN stats
)
SELECT *
FROM data_with_iqr
WHERE total_spent BETWEEN (q1 - 1.5 * iqr) AND (q3 + 1.5 * iqr);
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

        user_id  total_spent        q1         q3       iqr
0             0       881.51  973.7025  2587.5275  1613.825
1             2      3440.04  973.7025  2587.5275  1613.825
2             3      1301.13  973.7025  2587.5275  1613.825
3             4      3106.14  973.7025  2587.5275  1613.825
4             5      4166.07  973.7025  2587.5275  1613.825
...         ...          ...       ...        ...       ...
165046   785186       644.35  973.7025  2587.5275  1613.825
165047   792549       265.10  973.7025  2587.5275  1613.825
165048   796032      1115.52  973.7025  2587.5275  1613.825
165049   801660       845.96  973.7025  2587.5275  1613.825
165050   811077       721.79  973.7025  2587.5275  1613.825

[165051 rows x 5 columns]

###Forming the User Session Activity Query
Objective: Retrieve users who have had significant session activity within the last 6 months, based on their session data.

Cohort Filtering:
Only include users whose signup date is at least 6 months prior to their most recent session (max_session_end), ensuring the cohort consists of long-term, engaged users.

In [ ]:
query="""SELECT u.user_id, COUNT(s.session_id) AS total_sessions
FROM users u
JOIN sessions s ON u.user_id = s.user_id
JOIN (SELECT user_id, MAX(session_end) as max_session_end FROM sessions GROUP BY user_id) as max_sessions ON u.user_id = max_sessions.user_id
WHERE u.sign_up_date <= max_sessions.max_session_end - INTERVAL '6 months'
GROUP BY u.user_id
HAVING COUNT(s.session_id) >= 10
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

       user_id  total_sessions
0            0              11
1            4              10
2            5              10
3            6              11
4            9              11
...        ...             ...
47860   527344              10
47861   530329              10
47862   530379              10
47863   530724              10
47864   533809              10

[47865 rows x 2 columns]

###Forming the User Travel and Activity Analysis Query
Objective: Analyze user behavior in terms of flights, hotel bookings, and session engagement for users who signed up within a specific timeframe.

Cohort Filtering:
The query filters users who signed up between January 1, 2022, and December 31, 2022, focusing on this specific cohort to understand their travel and activity patterns.

In [ ]:
query = """
SELECT u.user_id,
       COUNT(DISTINCT f.trip_id) AS total_flights,
       AVG(s.page_clicks) AS avg_page_clicks,
       SUM(f.base_fare_usd) AS total_flight_spend,
       SUM(h.nights) AS total_nights_stayed,
       COUNT(DISTINCT h.hotel_name) AS total_hotels_booked
FROM users u
JOIN sessions s ON u.user_id = s.user_id
LEFT JOIN flights f ON s.trip_id = f.trip_id
LEFT JOIN hotels h ON s.trip_id = h.trip_id
WHERE u.user_id IN (
    SELECT user_id
    FROM users
    WHERE sign_up_date BETWEEN '2022-01-01' AND '2022-12-31'
)
GROUP BY u.user_id
"""

print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,total_flights,avg_page_clicks,total_flight_spend,total_nights_stayed,total_hotels_booked
0,75555,3,23.222222,573.57,12.0,4
1,75556,2,15.333333,1457.71,16.0,3
2,75557,4,19.333333,783.60,9.0,4
3,75558,1,19.666667,25074.12,NaN,0
4,75559,3,16.750000,1232.01,12.0,3
...,...,...,...,...,...,...
427436,502991,2,14.250000,297.06,23.0,3
427437,502992,1,25.750000,4979.78,16.0,2
427438,502993,2,67.500000,9517.02,2.0,1
427439,502994,1,9.500000,413.50,5.0,1
427440,502995,0,9.800000,NaN,NaN,0

###Forming the Comprehensive User Travel and Engagement Query
Objective: Extract detailed user travel and session data for users who have demonstrated high engagement over a defined period.

Cohort Filtering:
The query first selects users who have had more than 7 distinct sessions starting between January 4, 2023, and the most recent session end date. This cohort ensures we're focusing on highly active users during the specified timeframe.

In [ ]:
query="""WITH cohort_users AS (
    SELECT u.user_id
    FROM users u
    JOIN sessions s ON u.user_id = s.user_id
    WHERE s.session_start BETWEEN '2023-01-04' AND (SELECT MAX(session_end) FROM sessions)
    GROUP BY u.user_id
    HAVING COUNT(DISTINCT s.session_id) > 7
)

SELECT
    u.user_id,
    COUNT(DISTINCT f.trip_id) AS total_flights,
    AVG(s.page_clicks) AS avg_page_clicks,
    SUM(f.base_fare_usd) AS total_flight_spend,
    SUM(h.nights) AS total_nights_stayed,
    COUNT(DISTINCT h.hotel_name) AS total_hotels_booked,
    SUM(f.checked_bags) AS total_checked_bags,  -- Total number of checked bags
    SUM(h.rooms) AS total_rooms_booked,         -- Total number of rooms booked
    AVG(s.flight_discount_amount) AS avg_flight_discount,  -- Average flight discount offered
    AVG(s.hotel_discount_amount) AS avg_hotel_discount,    -- Average hotel discount offered
    COUNT(DISTINCT s.session_id) AS total_sessions,        -- Total number of sessions per user
    AVG(h.hotel_per_room_usd * h.rooms * h.nights) AS avg_hotel_spend,  -- Average hotel spend per user
    SUM(h.hotel_per_room_usd * h.rooms * h.nights) AS total_hotel_spend  -- Total hotel spend per user
FROM
    cohort_users u
JOIN
    sessions s ON u.user_id = s.user_id
LEFT JOIN
    flights f ON s.trip_id = f.trip_id
LEFT JOIN
    hotels h ON s.trip_id = h.trip_id
GROUP BY
    u.user_id
ORDER BY
    total_flight_spend DESC;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,total_flights,avg_page_clicks,total_flight_spend,total_nights_stayed,total_hotels_booked,total_checked_bags,total_rooms_booked,avg_flight_discount,avg_hotel_discount,total_sessions,avg_hotel_spend,total_hotel_spend
0,517143,0,8.625000,NaN,10.0,2,NaN,2.0,NaN,0.15,8,870.000000,1740.0
1,167852,0,10.692308,NaN,NaN,0,NaN,NaN,0.100000,0.10,13,NaN,NaN
2,258451,0,18.333333,NaN,36.0,2,NaN,3.0,0.150000,NaN,12,2542.666667,7628.0
3,306165,0,12.545455,NaN,NaN,0,NaN,NaN,0.100000,0.05,11,NaN,NaN
4,340166,0,9.181818,NaN,2.0,1,NaN,1.0,0.225000,0.10,11,474.000000,474.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,601104,1,16.000000,10.84,20.0,2,1.0,3.0,0.150000,0.10,8,3325.000000,6650.0
5994,481358,1,10.555556,9.27,2.0,1,0.0,1.0,0.283333,NaN,9,196.000000,196.0
5995,633406,1,11.375000,8.71,8.0,1,0.0,1.0,0.180000,NaN,8,512.000000,512.0
5996,515030,1,12.125000,8.17,13.0,1,0.0,1.0,NaN,0.15,8,1482.000000,1482.0
5997,510094,1,9.375000,5.35,9.0,1,2.0,1.0,0.075000,NaN,8,1179.000000,1179.0

###Frequent Travelers
Cohort Definition: Customers who have booked a high number of flights or hotel stays.
Use Case: This cohort can help focus on customers who are frequent travelers and might be more likely to join a loyalty program.

In [ ]:
query="""WITH cohort_users AS (
    SELECT u.user_id
    FROM users u
    JOIN sessions s ON u.user_id = s.user_id
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    WHERE s.session_start BETWEEN '2023-01-04' AND (SELECT MAX(session_end) FROM sessions)
    GROUP BY u.user_id
    HAVING COUNT(DISTINCT f.trip_id) > 3 OR COUNT(DISTINCT h.trip_id) > 2
)

SELECT
    u.user_id,
    COUNT(DISTINCT f.trip_id) AS total_flights,
    AVG(s.page_clicks) AS avg_page_clicks,
    SUM(f.base_fare_usd) AS total_flight_spend,
    SUM(h.nights) AS total_nights_stayed,
    COUNT(DISTINCT h.hotel_name) AS total_hotels_booked,
    SUM(f.checked_bags) AS total_checked_bags,  -- Total number of checked bags
    SUM(h.rooms) AS total_rooms_booked,         -- Total number of rooms booked
    AVG(s.flight_discount_amount) AS avg_flight_discount,  -- Average flight discount offered
    AVG(s.hotel_discount_amount) AS avg_hotel_discount     -- Average hotel discount offered
FROM
    cohort_users u
JOIN
    sessions s ON u.user_id = s.user_id
LEFT JOIN
    flights f ON s.trip_id = f.trip_id
LEFT JOIN
    hotels h ON s.trip_id = h.trip_id
GROUP BY
    u.user_id
ORDER BY
    total_flight_spend DESC;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,total_flights,avg_page_clicks,total_flight_spend,total_nights_stayed,total_hotels_booked,total_checked_bags,total_rooms_booked,avg_flight_discount,avg_hotel_discount
0,416535,0,9.888889,NaN,34.0,4,NaN,5.0,0.100,0.150
1,398727,0,11.222222,NaN,18.0,3,NaN,6.0,0.300,0.050
2,421073,0,15.125000,NaN,21.0,3,NaN,4.0,0.125,0.075
3,288016,0,26.000000,NaN,13.0,3,NaN,3.0,NaN,NaN
4,420632,0,15.285714,NaN,18.0,3,NaN,4.0,0.075,0.050
...,...,...,...,...,...,...,...,...,...,...
99402,824994,1,46.333333,8.13,12.0,3,0.0,3.0,NaN,NaN
99403,866678,1,26.000000,7.02,24.0,3,1.0,3.0,0.100,0.125
99404,682520,1,13.000000,6.07,9.0,3,1.0,4.0,0.400,0.150
99405,433098,1,17.875000,5.98,50.0,4,1.0,6.0,0.100,0.050
99406,833595,1,16.000000,2.47,20.0,3,0.0,6.0,0.150,0.150

### Identify Invalid Values

In [17]:
query="""
SELECT *
FROM (SELECT hotel_name, nights FROM hotels) AS flight_booking
WHERE nights <= 0;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

                       hotel_name  nights
0           Best Western - austin       0
1          Best Western - chicago      -1
2             Radisson  - houston       0
3            NH Hotel  - new york       0
4             Hyatt - san antonio       0
...                           ...     ...
152014      Hilton - jacksonville      -1
152015   Starwood  - indianapolis       0
152016       Hilton - san antonio       0
152017  Aman Resorts - fort worth       0
152018         Fairmont - detroit       0

[152019 rows x 2 columns]

### Remove Invalid Values

In [ ]:
query="""
WITH cohort_users AS (
    SELECT
        s.user_id
    FROM
        sessions s
    WHERE
        s.session_start >= '2023-01-04'
    GROUP BY
        s.user_id
    HAVING
        COUNT(s.session_id) > 7  -- Filtering users with more than 7 sessions
)

SELECT
    s.session_id,s.user_id,
    COUNT(DISTINCT f.trip_id) AS total_flights,
    AVG(s.page_clicks) AS avg_page_clicks,
    SUM(f.base_fare_usd) AS total_flight_spend,
    SUM(CASE WHEN h.nights < 1 THEN 1 ELSE h.nights END) AS total_nights_stayed,
    COUNT(DISTINCT h.hotel_name) AS total_hotels_booked,
    AVG(f.checked_bags) AS total_checked_bags,  -- Total number of checked bags
    SUM(h.rooms) AS total_rooms_booked,         -- Total number of rooms booked
    AVG(s.flight_discount_amount) AS avg_flight_discount,  -- Average flight discount offered
    AVG(s.hotel_discount_amount) AS avg_hotel_discount     -- Average hotel discount offered
FROM
    cohort_users cu
JOIN
    sessions s ON cu.user_id = s.user_id
LEFT JOIN
    flights f ON s.trip_id = f.trip_id
LEFT JOIN
    hotels h ON s.trip_id = h.trip_id
WHERE
    s.session_start >= '2023-01-04'
GROUP BY s.session_id,s.user_id
ORDER BY
 total_flight_spend DESC;
 """
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,session_id,user_id,total_flights,avg_page_clicks,total_flight_spend,total_nights_stayed,total_hotels_booked,total_checked_bags,total_rooms_booked,avg_flight_discount,avg_hotel_discount
0,530739-a34e8b6169bd4e4dac9855e6aa0c53e1,530739,0,3.0,NaN,NaN,0,NaN,NaN,NaN,NaN
1,101486-6de2ac91a8c24619a69a3d3ae7c28d61,101486,0,21.0,NaN,NaN,0,NaN,NaN,NaN,NaN
2,101486-7e8b450e5fe94345bd6c1ae9f479f073,101486,0,24.0,NaN,NaN,0,NaN,NaN,NaN,NaN
3,101486-9e7d5ccc7e034bf7b7a5ad2f3befbe13,101486,0,18.0,NaN,NaN,0,NaN,NaN,0.1,NaN
4,101486-be6d02b11839441aa4107044d095cb99,101486,0,7.0,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49206,527564-0a3bc1c5d5844f74852f1f7aa455386c,527564,1,30.0,4.06,2.0,1,1.0,1.0,NaN,NaN
49207,551282-26f9025644f5462baa6f355a56a2ccdb,551282,1,22.0,3.40,3.0,1,0.0,1.0,NaN,NaN
49208,404879-5addf2162b864ab2b24d962099eaa7da,404879,1,16.0,3.28,4.0,1,1.0,1.0,NaN,NaN
49209,538214-a6292abe68734412b488c8c42ed3f837,538214,1,22.0,2.87,1.0,1,0.0,1.0,NaN,NaN
49210,542796-98d51924cd96423da7d0137b83be293b,542796,1,16.0,2.41,1.0,1,1.0,1.0,NaN,NaN

###Forming the Detailed Session and Booking Data Query
Objective: Extract detailed session and booking data for users with significant activity in 2023, including their associated flights and hotel bookings.

Cohort Filtering:
The query identifies users who have had more than 7 sessions since January 4, 2023, by filtering through the sessions table. This cohort ensures that the focus is on users with sustained engagement throughout the year.

In [ ]:
query="""WITH sessions_2023 AS (

  SELECT *
  FROM sessions s
  WHERE s.session_start >= '2023-01-04'

),

filtered_users AS (

  SELECT user_id,
  			 COUNT(*)
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7

),

session_base AS (

 SELECT
  		s.*,
 			u.*,
 			f.*,
 			h.hotel_name,
  		CASE
  			WHEN h.nights <= 0 THEN 1
  			ELSE h.nights
  		END AS nights,
  		h.rooms,
  		h.check_in_time,
  		h.check_out_time,
  		h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s

  LEFT JOIN users u
		ON s.user_id = u.user_id
	LEFT JOIN flights f
		ON s.trip_id = f.trip_id
	LEFT JOIN hotels h
		ON s.trip_id = h.trip_id

  WHERE s.user_id IN (SELECT user_id FROM filtered_users)

)

SELECT *
FROM session_base"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd
0,510094-36c402750c80429a81166de7f2238292,510094,None,2023-07-17 19:26:00,2023-07-17 19:26:15,True,False,0.05,NaN,False,...,None,NaN,NaN,NaN,None,NaN,NaN,NaT,NaT,NaN
1,521743-36e697f8d6d6440589d398a584b0ef9f,521743,None,2023-07-17 06:44:00,2023-07-17 06:44:46,False,False,NaN,NaN,False,...,None,NaN,NaN,NaN,None,NaN,NaN,NaT,NaT,NaN
2,564377-e2f0f84025264293a4e37fc1641dea1c,564377,None,2023-07-17 18:15:00,2023-07-17 18:15:23,False,False,NaN,NaN,False,...,None,NaN,NaN,NaN,None,NaN,NaN,NaT,NaT,NaN
3,601673-29a00388340c47f9a66ced9ed75fd90c,601673,None,2023-07-17 14:36:00,2023-07-17 14:36:30,False,False,NaN,NaN,False,...,None,NaN,NaN,NaN,None,NaN,NaN,NaT,NaT,NaN
4,647016-2498023fd6c842498c79e25127a52249,647016,None,2023-07-17 12:55:00,2023-07-17 12:56:22,False,False,NaN,NaN,False,...,None,NaN,NaN,NaN,None,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,569792-9548f5c3c32645e1aba3d6364ba2a309,569792,569792-a4c280afaf9d4412bf0707bb2c3c50d4,2023-06-17 14:30:00,2023-06-17 14:34:17,False,False,NaN,NaN,True,...,AirTran Airways,32.847,-96.852,68.21,Four Seasons - dallas,6.0,1.0,2023-06-24 13:28:43.185,2023-07-01 11:00:00,151.0
49207,552809-4856029c1f1c411a95ba64e7dacb6b9a,552809,552809-e91b1251ef274ee09b4ff1fbe6e55b08,2023-07-08 03:44:00,2023-07-08 03:46:23,False,False,NaN,NaN,True,...,American Airlines,33.535,-112.383,410.07,None,NaN,NaN,NaT,NaT,NaN
49208,678536-b22f1f3b87044e11aa917700373b39de,678536,678536-28a559db9a7743549e9c8bb3b97d386f,2023-07-08 17:36:00,2023-07-08 17:39:06,False,False,NaN,NaN,False,...,None,NaN,NaN,NaN,Hyatt - seattle,17.0,1.0,2023-07-19 11:00:00.000,2023-08-05 11:00:00,53.0
49209,534295-0a137c45cac34b1e834f23ecab4233fb,534295,534295-3e20b84b40c946b1a8124395231d4412,2023-07-10 18:55:00,2023-07-10 18:57:18,False,False,NaN,NaN,True,...,United Airlines,32.699,-117.215,3205.63,Aman Resorts - san diego,8.0,4.0,2023-07-20 20:54:53.100,2023-07-29 11:00:00,85.0
49210,518416-fd45c188d94a4d30a7e4468056701f1e,518416,518416-cca5cea3fac04cdf8d069e13891f016a,2023-07-15 07:38:00,2023-07-15 07:42:04,False,False,NaN,NaN,True,...,United Airlines,29.529,-98.279,103.01,InterContinental - san antonio,1.0,2.0,2023-07-22 15:22:38.370,2023-07-24 11:00:00,80.0

Cohort Size Determination
This query identifies users who have participated in more than 7 sessions within the specified date range.

In [ ]:
 query="""WITH cohort AS (
    SELECT
        s.user_id,
        COUNT(s.session_id) AS num_of_sessions
    FROM
        sessions s
    JOIN
        users u ON s.user_id = u.user_id
    WHERE
        s.session_start > '2023-01-04'

    GROUP BY
        s.user_id
    HAVING
        COUNT(s.session_id) > 7
)
SELECT
    COUNT(DISTINCT c.user_id) AS distinct_cohort_users
FROM
    cohort c
JOIN
    users u ON c.user_id = u.user_id;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

   distinct_cohort_users
0                   5998

Listing Cohort Customers
This query lists all unique user IDs in the cohort.

In [ ]:
query="""WITH cohort AS (
    SELECT
        s.user_id,
        COUNT(s.session_id) AS num_of_sessions
    FROM
        sessions s
    JOIN
        users u ON s.user_id = u.user_id
    WHERE
        s.session_start > '2023-01-04'
    GROUP BY
        s.user_id
    HAVING
        COUNT(s.session_id) > 7
)
SELECT
    DISTINCT c.user_id AS distinct_cohort_users
FROM
    cohort c
JOIN
    users u ON c.user_id = u.user_id;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

      distinct_cohort_users
0                     23557
1                     94883
2                    101486
3                    101961
4                    106907
...                     ...
5993                 792549
5994                 796032
5995                 801660
5996                 811077
5997                 844489

[5998 rows x 1 columns]

##Comprehensive User Engagement and Perk Preference Analysis

Objective: Analyze user behavior and engagement metrics, scaling and aggregating them to identify users' preferences for travel discounts, flight bargains, and overall session activity. The final output ranks users based on these behaviors and recommends perks.

Cohort Filtering:
Users with more than 7 sessions since January 4, 2023, are selected, focusing on those with active recent engagement.

Step 1: Filter sessions in 2023 and users with more than 7 sessions

Step 2: Calculate flight-related metrics for filtered users

Step 3: Calculate browsing-related metrics for filtered users

Step 4:Combine flight and browsing metrics

Step 5: Scale the metrics using Min-Max Scaling

Step 6: Calculate the Bargain Hunter Index and additional indices

Step 7: Output the final metrics for each user

In [ ]:
query="""

WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start >= '2023-01-04'
),

filtered_users AS (
  SELECT user_id,
         COUNT(*) AS session_count
  FROM sessions_2023
  GROUP BY user_id
  HAVING COUNT(*) > 7
),


flight_metrics AS (
  SELECT
    s.user_id,
    -- Metric 1: Proportion of flights booked with a discount
    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END)::FLOAT / NULLIF(COUNT(s.trip_id), 0) AS discount_flight_proportion,

    -- Metric 2: Average flight discount amount (percentage)
    AVG(s.flight_discount_amount) AS average_flight_discount,

    -- Metric 3: ADS (Average Dollars Saved) per km traveled
    SUM(s.flight_discount_amount * f.base_fare_usd) / NULLIF(SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)), 0) AS ADS_per_km
  FROM sessions_2023 s
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  JOIN users u ON s.user_id = u.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),


browsing_metrics AS (
  SELECT
    s.user_id,
    AVG(s.session_end - s.session_start) AS avg_session_time,
    SUM(s.page_clicks) AS total_page_clicks,
    AVG(CASE WHEN s.flight_booked = TRUE THEN 1.0 ELSE 0.0 END) AS conversion_rate
  FROM sessions_2023 s
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),


combined_metrics AS (
  SELECT
    COALESCE(fm.user_id, bm.user_id) AS user_id,
    COALESCE(fm.discount_flight_proportion, 0) AS discount_flight_proportion,
    COALESCE(fm.average_flight_discount, 0) AS avg_flight_discount,
    COALESCE(fm.ADS_per_km, 0) AS ADS_flight_per_km,
    COALESCE(bm.avg_session_time, INTERVAL '0 seconds') AS avg_session_time,
    COALESCE(bm.total_page_clicks, 0) AS total_page_clicks,
    COALESCE(bm.conversion_rate, 0) AS conversion_rate
  FROM flight_metrics fm
  FULL OUTER JOIN browsing_metrics bm ON fm.user_id = bm.user_id
),


scaled_metrics AS (
  SELECT
    user_id,
    CASE WHEN (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER()) != 0
         THEN (discount_flight_proportion - MIN(discount_flight_proportion) OVER()) / (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER())
         ELSE 0 END AS scaled_discount_flight_proportion,

    CASE WHEN (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER()) != 0
         THEN (avg_flight_discount - MIN(avg_flight_discount) OVER()) / (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER())
         ELSE 0 END AS scaled_avg_flight_discount,

    CASE WHEN (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER()) != 0
         THEN (ADS_flight_per_km - MIN(ADS_flight_per_km) OVER()) / (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER())
         ELSE 0 END AS scaled_ADS_flight_per_km,

    CASE WHEN (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER())) != 0
         THEN EXTRACT(EPOCH FROM (avg_session_time - MIN(avg_session_time) OVER())) / (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER()))
         ELSE 0 END AS scaled_avg_session_time,

    CASE WHEN (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER()) != 0
         THEN (total_page_clicks - MIN(total_page_clicks) OVER()) / (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER())
         ELSE 0 END AS scaled_total_page_clicks,

    CASE WHEN (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER()) != 0
         THEN (conversion_rate - MIN(conversion_rate) OVER()) / (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER())
         ELSE 0 END AS scaled_conversion_rate
  FROM combined_metrics
),


final_metrics AS (
  SELECT
    user_id,
    -- Bargain Hunter Index
    (scaled_discount_flight_proportion * scaled_avg_flight_discount * scaled_ADS_flight_per_km) AS bargain_hunter_index,
    -- Flight Index
    (scaled_discount_flight_proportion + scaled_avg_flight_discount + scaled_ADS_flight_per_km) AS flight_index,
    -- Browsing Index
    (scaled_avg_session_time + scaled_total_page_clicks + scaled_conversion_rate) AS browsing_index
  FROM scaled_metrics
)


SELECT *
FROM final_metrics;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

      user_id  bargain_hunter_index  flight_index  browsing_index
0      531931              0.000000      0.265152        0.268695
1      611065              0.000000      0.000000        0.554721
2      586762              0.000984      0.393218        0.415299
3      229330              0.000000      0.000000        0.541842
4      536035              0.000000      0.613636        0.283830
...       ...                   ...           ...             ...
5993   521235              0.002502      0.464464        0.695449
5994   591155              0.000000      0.719697        0.164706
5995   600351              0.000000      0.000000        0.288459
5996   577044              0.000000      0.237374        0.389651
5997   597300              0.007309      0.776452        0.274809

[5998 rows x 4 columns]

In [ ]:
query="""WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start >= '2023-01-04'
),

filtered_users AS (
  SELECT
    user_id,
    COUNT(*) AS session_count
  FROM sessions_2023
  GROUP BY user_id
  HAVING COUNT(*) > 7
),

flight_metrics AS (
  SELECT
    s.user_id,
    -- Proportion of flights booked with a discount
    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END)::FLOAT / NULLIF(COUNT(s.trip_id), 0) AS discount_flight_proportion,

    -- Average flight discount amount (percentage)
    AVG(s.flight_discount_amount) AS average_flight_discount,

    -- Average Dollars Saved per km traveled
    SUM(s.flight_discount_amount * f.base_fare_usd) / NULLIF(SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)), 0) AS ADS_per_km
  FROM sessions_2023 s
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  JOIN users u ON s.user_id = u.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

browsing_metrics AS (
  SELECT
    s.user_id,
    AVG(s.session_end - s.session_start) AS avg_session_time,
    SUM(s.page_clicks) AS total_page_clicks,
    AVG(CASE WHEN s.flight_booked = TRUE THEN 1.0 ELSE 0.0 END) AS conversion_rate
  FROM sessions_2023 s
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

combined_metrics AS (
  SELECT
    COALESCE(fm.user_id, bm.user_id) AS user_id,
    COALESCE(fm.discount_flight_proportion, 0) AS discount_flight_proportion,
    COALESCE(fm.average_flight_discount, 0) AS avg_flight_discount,
    COALESCE(fm.ADS_per_km, 0) AS ADS_flight_per_km,
    COALESCE(bm.avg_session_time, INTERVAL '0 seconds') AS avg_session_time,
    COALESCE(bm.total_page_clicks, 0) AS total_page_clicks,
    COALESCE(bm.conversion_rate, 0) AS conversion_rate
  FROM flight_metrics fm
  FULL OUTER JOIN browsing_metrics bm ON fm.user_id = bm.user_id
),

scaled_metrics AS (
  SELECT
    user_id,
    CASE WHEN (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER()) != 0
         THEN (discount_flight_proportion - MIN(discount_flight_proportion) OVER()) / (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER())
         ELSE 0 END AS scaled_discount_flight_proportion,

    CASE WHEN (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER()) != 0
         THEN (avg_flight_discount - MIN(avg_flight_discount) OVER()) / (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER())
         ELSE 0 END AS scaled_avg_flight_discount,

    CASE WHEN (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER()) != 0
         THEN (ADS_flight_per_km - MIN(ADS_flight_per_km) OVER()) / (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER())
         ELSE 0 END AS scaled_ADS_flight_per_km,

    CASE WHEN (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER())) != 0
         THEN EXTRACT(EPOCH FROM (avg_session_time - MIN(avg_session_time) OVER())) / (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER()))
         ELSE 0 END AS scaled_avg_session_time,

    CASE WHEN (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER()) != 0
         THEN (total_page_clicks - MIN(total_page_clicks) OVER()) / (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER())
         ELSE 0 END AS scaled_total_page_clicks,

    CASE WHEN (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER()) != 0
         THEN (conversion_rate - MIN(conversion_rate) OVER()) / (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER())
         ELSE 0 END AS scaled_conversion_rate
  FROM combined_metrics
),

final_metrics AS (
  SELECT
    sm.user_id,
    -- Bargain Hunter Index
    (sm.scaled_discount_flight_proportion * sm.scaled_avg_flight_discount * sm.scaled_ADS_flight_per_km) AS bargain_hunter_index,
    -- Flight Index
    (sm.scaled_discount_flight_proportion + sm.scaled_avg_flight_discount + sm.scaled_ADS_flight_per_km) AS flight_index,
    -- Browsing Index
    (sm.scaled_avg_session_time + sm.scaled_total_page_clicks + sm.scaled_conversion_rate) AS browsing_index
  FROM scaled_metrics sm
),

perks_summary AS (
  SELECT
    s.user_id,
    SUM(CASE WHEN s.cancellation = 'true' THEN 1 ELSE 0 END) AS cancellation_pref,
    SUM(CASE WHEN s.flight_discount = 'true' AND s.cancellation = 'false' AND s.flight_booked = 'true' THEN 1 ELSE 0 END) AS flight_discount_pref,
    SUM(CASE WHEN s.hotel_discount = 'true' AND s.cancellation = 'false' AND s.hotel_booked = 'true' THEN 1 ELSE 0 END) AS hotel_discount_pref,
    SUM(CASE WHEN s.flight_booked = 'true' THEN 1 ELSE 0 END) as total_flight_booked,
    SUM(CASE WHEN s.hotel_booked = 'true' THEN 1 ELSE 0 END) as total_hotel_booked
  FROM sessions_2023 s
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

combined_final AS (
  SELECT
    fm.user_id,
    fm.bargain_hunter_index,
    fm.flight_index,
    fm.browsing_index,
    ps.cancellation_pref,
    ps.flight_discount_pref,
    ps.hotel_discount_pref,
    CASE
        WHEN (ps.cancellation_pref > 2) THEN 'Free Cancellation'
        WHEN ps.flight_discount_pref > ps.hotel_discount_pref THEN 'Flight Discount'
        ELSE 'Hotel Discount'
    END AS preferred_perk
  FROM final_metrics fm
  LEFT JOIN perks_summary ps ON fm.user_id = ps.user_id
)

-- Output the final metrics for each user along with the recommended perk
SELECT *
FROM combined_final
ORDER BY bargain_hunter_index DESC, flight_index DESC, browsing_index DESC;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,bargain_hunter_index,flight_index,browsing_index,cancellation_pref,flight_discount_pref,hotel_discount_pref,preferred_perk
0,373489,0.133557,1.571996,0.141947,0,1,0,Flight Discount
1,473847,0.099622,1.518855,0.147257,0,1,1,Hotel Discount
2,516939,0.094570,1.412041,0.158889,0,1,0,Flight Discount
3,478760,0.085407,1.598549,0.788673,1,1,0,Flight Discount
4,535706,0.080481,1.319056,0.154497,0,1,0,Flight Discount
...,...,...,...,...,...,...,...,...
5993,519312,0.000000,0.000000,0.006825,0,0,0,Hotel Discount
5994,615674,0.000000,0.000000,0.006351,0,0,0,Hotel Discount
5995,534082,0.000000,0.000000,0.006291,0,0,0,Hotel Discount
5996,633235,0.000000,0.000000,0.005460,0,0,0,Hotel Discount
5997,562516,0.000000,0.000000,0.000653,0,0,0,Hotel Discount

In [ ]:
query="""WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start >= '2023-01-04'
),

filtered_users AS (
  SELECT
    user_id,
    COUNT(*) AS session_count
  FROM sessions_2023
  GROUP BY user_id
  HAVING COUNT(*) > 7
),

flight_metrics AS (
  SELECT
    s.user_id,

    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END)::FLOAT / NULLIF(COUNT(s.trip_id), 0) AS discount_flight_proportion,


    AVG(s.flight_discount_amount) AS average_flight_discount,


    SUM(s.flight_discount_amount * f.base_fare_usd) / NULLIF(SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)), 0) AS ADS_per_km,


    AVG(f.checked_bags) AS avg_checked_bags,


    SUM(CASE WHEN f.checked_bags > 0 THEN 1 ELSE 0 END) AS total_free_checked_bag,


    SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)) AS total_distance_traveled,


    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END) AS total_discounted_trips,


    SUM(CASE WHEN s.flight_booked = TRUE THEN 1 ELSE 0 END) AS total_flight_booked
  FROM sessions_2023 s
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  JOIN users u ON s.user_id = u.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

browsing_metrics AS (
  SELECT
    s.user_id,
    AVG(s.session_end - s.session_start) AS avg_session_time,
    SUM(s.page_clicks) AS total_page_clicks,
    AVG(CASE WHEN s.flight_booked = TRUE THEN 1.0 ELSE 0.0 END) AS conversion_rate
  FROM sessions_2023 s
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

hotel_metrics AS (
  SELECT
    s.user_id,
    SUM(h.nights * h.rooms * h.hotel_per_room_usd) AS total_hotel_spending,
    AVG(h.nights * h.hotel_per_room_usd) AS avg_cost_per_night,
    AVG(h.rooms) AS avg_rooms_booked,
    SUM(h.nights) AS total_nights
  FROM sessions_2023 s
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

perks_summary AS (
  SELECT
    s.user_id,
    SUM(CASE WHEN s.cancellation = 'true' THEN 1 ELSE 0 END) AS cancellation_pref,
    SUM(CASE WHEN s.flight_discount = 'true' AND s.cancellation = 'false' AND s.flight_booked = 'true' THEN 1 ELSE 0 END) AS flight_discount_pref,
    SUM(CASE WHEN s.hotel_discount = 'true' AND s.cancellation = 'false' AND s.hotel_booked = 'true' THEN 1 ELSE 0 END) AS hotel_discount_pref,
    AVG(hm.avg_cost_per_night) AS avg_cost_per_night,
    AVG(hm.avg_rooms_booked) AS avg_rooms_booked,
    SUM(fm.total_free_checked_bag) AS total_free_checked_bag,
    SUM(fm.total_distance_traveled) AS total_distance_traveled,
    SUM(fm.total_discounted_trips) AS total_discounted_trips,
    SUM(fm.total_distance_traveled) / NULLIF(SUM(fm.total_discounted_trips), 0) AS avg_distance_per_trip,
    SUM(fm.total_distance_traveled) / NULLIF(SUM(fm.total_discounted_trips), 0) > 2000 AS is_frequent_traveler,
    SUM(fm.total_discounted_trips)::FLOAT / NULLIF(SUM(fm.total_flight_booked), 0) > 0.55 AS is_discount_lover-- using total hotel ,is discount lovers
  FROM sessions_2023 s
  LEFT JOIN flight_metrics fm ON s.user_id = fm.user_id
  LEFT JOIN hotel_metrics hm ON s.user_id = hm.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

combined_metrics AS (
  SELECT
    COALESCE(fm.user_id, bm.user_id) AS user_id,
    COALESCE(fm.discount_flight_proportion, 0) AS discount_flight_proportion,
    COALESCE(fm.average_flight_discount, 0) AS avg_flight_discount,
    COALESCE(fm.ADS_per_km, 0) AS ADS_flight_per_km,
    COALESCE(fm.avg_checked_bags, 0) AS avg_checked_bags,
    COALESCE(fm.total_free_checked_bag, 0) AS total_free_checked_bag,
    COALESCE(bm.avg_session_time, INTERVAL '0 seconds') AS avg_session_time,
    COALESCE(bm.total_page_clicks, 0) AS total_page_clicks,
    COALESCE(bm.conversion_rate, 0) AS conversion_rate,
    COALESCE(hm.total_hotel_spending, 0) AS total_hotel_spending,
    COALESCE(hm.avg_cost_per_night, 0) AS avg_cost_per_night,
    COALESCE(hm.avg_rooms_booked, 0) AS avg_rooms_booked,
    COALESCE(ps.total_distance_traveled, 0) AS total_distance_traveled,
    COALESCE(ps.total_discounted_trips, 0) AS total_discounted_trips
  FROM flight_metrics fm
  FULL OUTER JOIN browsing_metrics bm ON fm.user_id = bm.user_id
  FULL OUTER JOIN hotel_metrics hm ON fm.user_id = hm.user_id
  LEFT JOIN perks_summary ps ON fm.user_id = ps.user_id
),
scaled_metrics AS (
  SELECT
    user_id,
    -- Scaling the metrics
    CASE WHEN (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER()) != 0
         THEN (discount_flight_proportion - MIN(discount_flight_proportion) OVER()) / (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER())
         ELSE 0 END AS scaled_discount_flight_proportion,

    CASE WHEN (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER()) != 0
         THEN (avg_flight_discount - MIN(avg_flight_discount) OVER()) / (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER())
         ELSE 0 END AS scaled_avg_flight_discount,

    CASE WHEN (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER()) != 0
         THEN (ADS_flight_per_km - MIN(ADS_flight_per_km) OVER()) / (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER())
         ELSE 0 END AS scaled_ADS_flight_per_km,

    CASE WHEN (MAX(avg_checked_bags) OVER() - MIN(avg_checked_bags) OVER()) != 0
         THEN (avg_checked_bags - MIN(avg_checked_bags) OVER()) / (MAX(avg_checked_bags) OVER() - MIN(avg_checked_bags) OVER())
         ELSE 0 END AS scaled_avg_checked_bags,

    CASE WHEN (MAX(total_free_checked_bag) OVER() - MIN(total_free_checked_bag) OVER()) != 0
         THEN (total_free_checked_bag - MIN(total_free_checked_bag) OVER()) / (MAX(total_free_checked_bag) OVER() - MIN(total_free_checked_bag) OVER())
         ELSE 0 END AS scaled_total_free_checked_bag,

    CASE WHEN (MAX(avg_cost_per_night) OVER() - MIN(avg_cost_per_night) OVER()) != 0
         THEN (avg_cost_per_night - MIN(avg_cost_per_night) OVER()) / (MAX(avg_cost_per_night) OVER() - MIN(avg_cost_per_night) OVER())
         ELSE 0 END AS scaled_avg_cost_per_night,

    CASE WHEN (MAX(avg_rooms_booked) OVER() - MIN(avg_rooms_booked) OVER()) != 0
         THEN (avg_rooms_booked - MIN(avg_rooms_booked) OVER()) / (MAX(avg_rooms_booked) OVER() - MIN(avg_rooms_booked) OVER())
         ELSE 0 END AS scaled_avg_rooms_booked,

    CASE WHEN (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER())) != 0
         THEN EXTRACT(EPOCH FROM (avg_session_time - MIN(avg_session_time) OVER())) / (EXTRACT(EPOCH FROM MAX(avg_session_time) OVER()) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER()))
         ELSE 0 END AS scaled_avg_session_time,

    CASE WHEN (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER()) != 0
         THEN (total_page_clicks - MIN(total_page_clicks) OVER()) / (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER())
         ELSE 0 END AS scaled_total_page_clicks,

    CASE WHEN (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER()) != 0
         THEN (conversion_rate - MIN(conversion_rate) OVER()) / (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER())
         ELSE 0 END AS scaled_conversion_rate
  FROM combined_metrics
),

final_metrics AS (
  SELECT
    sm.user_id,
    -- Bargain Hunter Index
    (sm.scaled_discount_flight_proportion * sm.scaled_avg_flight_discount * sm.scaled_ADS_flight_per_km) AS bargain_hunter_index,
    -- Flight Index
    (sm.scaled_discount_flight_proportion + sm.scaled_avg_flight_discount + sm.scaled_ADS_flight_per_km + sm.scaled_avg_checked_bags) AS flight_index,
    -- Browsing Index
    (sm.scaled_avg_session_time + sm.scaled_total_page_clicks + sm.scaled_conversion_rate) AS browsing_index,
    -- Hotel Index
    (sm.scaled_avg_cost_per_night + sm.scaled_avg_rooms_booked) AS hotel_index
  FROM scaled_metrics sm
),

combined_final AS (
  SELECT
    fm.user_id,
    fm.bargain_hunter_index,
    fm.flight_index,
    fm.browsing_index,
    fm.hotel_index,
    ps.cancellation_pref,
    ps.flight_discount_pref,
    ps.hotel_discount_pref,
    ps.avg_cost_per_night,
    ps.avg_rooms_booked,
    ps.total_free_checked_bag,
    ps.is_frequent_traveler,
    ps.is_discount_lover,
    CASE
        WHEN ps.is_frequent_traveler THEN 'Free Hotel Night with Flight'
        WHEN ps.is_discount_lover THEN 'Exclusive Discount'
        WHEN ps.cancellation_pref >= 2 THEN 'Free Cancellation'
        WHEN ps.flight_discount_pref > ps.hotel_discount_pref THEN 'Flight Discount'
        WHEN ps.total_free_checked_bag > 0 THEN 'Free Checked Bags'
        WHEN ps.avg_cost_per_night < 100 THEN 'Budget Hotel'
        ELSE 'Luxury Hotel'
    END AS preferred_perk
  FROM final_metrics fm
  LEFT JOIN perks_summary ps ON fm.user_id = ps.user_id
)

-- Output the final metrics for each user along with the recommended perk
SELECT *
FROM combined_final

ORDER BY bargain_hunter_index DESC, flight_index DESC, browsing_index DESC, hotel_index DESC;

"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,bargain_hunter_index,flight_index,browsing_index,hotel_index,cancellation_pref,flight_discount_pref,hotel_discount_pref,avg_cost_per_night,avg_rooms_booked,total_free_checked_bag,is_frequent_traveler,is_discount_lover,preferred_perk
0,373489,0.133557,2.101408,0.141947,0.596063,0,1,0,612.0,2.0,9.0,True,True,Free Hotel Night with Flight
1,473847,0.099622,1.695326,0.147257,0.577560,0,1,1,440.0,2.0,8.0,False,True,Exclusive Discount
2,516939,0.094570,1.588512,0.158889,0.290125,0,1,0,92.0,1.0,8.0,False,True,Exclusive Discount
3,478760,0.085407,1.775019,0.788673,0.308197,1,1,0,260.0,1.0,16.0,True,True,Free Hotel Night with Flight
4,535706,0.080481,1.495527,0.154497,0.296687,0,1,0,153.0,1.0,8.0,False,True,Exclusive Discount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,519312,0.000000,0.000000,0.006825,0.030228,0,0,0,NaN,NaN,0.0,None,None,Luxury Hotel
5994,615674,0.000000,0.000000,0.006351,0.354454,0,0,0,690.0,1.0,0.0,None,None,Luxury Hotel
5995,534082,0.000000,0.000000,0.006291,0.030228,0,0,0,NaN,NaN,0.0,None,None,Luxury Hotel
5996,633235,0.000000,0.000000,0.005460,0.322397,0,0,0,392.0,1.0,0.0,None,None,Luxury Hotel
5997,562516,0.000000,0.000000,0.000653,0.030228,0,0,0,NaN,NaN,0.0,None,None,Luxury Hotel

we calculates a detailed set of metrics and classifications for users based on their session, flight, and hotel data. It combines metrics like flight discounts, checked bags, session times, and hotel spending to classify users into different categories such as "Bargain Hunter," "Luxury Traveler," or "Family Traveler."

It also recommends perks based on behaviors such as frequent travel or preferences for hotel or flight discounts.

This query outputs a detailed user profile that includes both behavioral metrics and demographic details, classifying users into segments and providing personalized perk recommendations.

In [ ]:
query="""WITH sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start >= '2023-01-04'
),

filtered_users AS (
  SELECT
    user_id,
    COUNT(*) AS session_count
  FROM sessions_2023
  GROUP BY user_id
  HAVING COUNT(*) > 7
),

flight_metrics AS (
  SELECT
    s.user_id,
    -- Ratio of flights booked with discount
    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END)::FLOAT / NULLIF(COUNT(s.trip_id), 0) AS discount_flight_proportion,

    -- Average flight discount amount
    AVG(s.flight_discount_amount) AS average_flight_discount,

    -- Average dollars saved per kilometer
    SUM(s.flight_discount_amount * f.base_fare_usd) / NULLIF(SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)), 0) AS ADS_per_km,

    -- Average number of checked bags
    AVG(f.checked_bags) AS avg_checked_bags,

    -- Total free checked bags
    SUM(CASE WHEN f.checked_bags > 0 THEN 1 ELSE 0 END) AS total_free_checked_bag,

    -- Total distance traveled
    SUM(haversine_distance(u.home_airport_lat, u.home_airport_lon, f.destination_airport_lat, f.destination_airport_lon)) AS total_distance_traveled,

    -- Total discounted trips
    SUM(CASE WHEN s.flight_discount = TRUE THEN 1 ELSE 0 END) AS total_discounted_trips,

    -- Total flights booked
    SUM(CASE WHEN s.flight_booked = TRUE THEN 1 ELSE 0 END) AS total_flight_booked
  FROM sessions_2023 s
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  JOIN users u ON s.user_id = u.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

browsing_metrics AS (
  SELECT
    s.user_id,
    AVG(s.session_end - s.session_start) AS avg_session_time,
    SUM(s.page_clicks) AS total_page_clicks,
    AVG(CASE WHEN s.flight_booked = TRUE THEN 1.0 ELSE 0.0 END) AS conversion_rate
  FROM sessions_2023 s
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),

hotel_metrics AS (
  SELECT
    s.user_id,
    SUM((CASE WHEN h.nights <= 0 THEN 1 ELSE h.nights END) * h.rooms * h.hotel_per_room_usd) AS total_hotel_spending,
    AVG((CASE WHEN h.nights <= 0 THEN 1 ELSE h.nights END) * h.hotel_per_room_usd) AS avg_cost_per_night,
    AVG(h.rooms) AS avg_rooms_booked,
    SUM(CASE WHEN h.nights <= 0 THEN 1 ELSE h.nights END) AS total_nights
  FROM sessions_2023 s
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),


perks_summary AS (
  SELECT
    s.user_id,
    SUM(CASE WHEN s.cancellation = 'true' THEN 1 ELSE 0 END) AS cancellation_pref,
    SUM(CASE WHEN s.flight_discount = 'true' AND s.cancellation = 'false' AND s.flight_booked = 'true' THEN 1 ELSE 0 END) AS flight_discount_pref,
    SUM(CASE WHEN s.hotel_discount = 'true' AND s.cancellation = 'false' AND s.hotel_booked = 'true' THEN 1 ELSE 0 END) AS hotel_discount_pref,
    AVG(hm.avg_cost_per_night) AS avg_cost_per_night,
    AVG(hm.avg_rooms_booked) AS avg_rooms_booked,
    SUM(fm.total_free_checked_bag) AS total_free_checked_bag,
    SUM(fm.total_distance_traveled) AS total_distance_traveled,
    SUM(fm.total_discounted_trips) AS total_discounted_trips,
    SUM(fm.total_distance_traveled) / NULLIF(SUM(fm.total_discounted_trips), 0) AS avg_distance_per_trip,
    SUM(fm.total_distance_traveled) / NULLIF(SUM(fm.total_discounted_trips), 0) > 2000 AS is_frequent_traveler,
    AVG(CASE WHEN s.flight_discount = 'true' THEN 1.0 ELSE 0.0 END) > 0.5 AS is_flight_discount_lover,
    AVG(CASE WHEN s.hotel_discount = 'true' THEN 1.0 ELSE 0.0 END) > 0.5 AS is_hotel_discount_lover
  FROM sessions_2023 s
  LEFT JOIN flight_metrics fm ON s.user_id = fm.user_id
  LEFT JOIN hotel_metrics hm ON s.user_id = hm.user_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
  GROUP BY s.user_id
),


combined_metrics AS (
  SELECT
    COALESCE(fm.user_id, bm.user_id) AS user_id,
    COALESCE(fm.discount_flight_proportion, 0) AS discount_flight_proportion,
    COALESCE(fm.average_flight_discount, 0) AS avg_flight_discount,
    COALESCE(fm.ADS_per_km, 0) AS ADS_flight_per_km,
    COALESCE(fm.avg_checked_bags, 0) AS avg_checked_bags,
    COALESCE(fm.total_free_checked_bag, 0) AS total_free_checked_bag,
    COALESCE(bm.avg_session_time, INTERVAL '0 seconds') AS avg_session_time,
    COALESCE(bm.total_page_clicks, 0) AS total_page_clicks,
    COALESCE(bm.conversion_rate, 0) AS conversion_rate,
    COALESCE(hm.total_hotel_spending, 0) AS total_hotel_spending,
    COALESCE(hm.avg_cost_per_night, 0) AS avg_cost_per_night,
    COALESCE(hm.avg_rooms_booked, 0) AS avg_rooms_booked,
    COALESCE(ps.total_distance_traveled, 0) AS total_distance_traveled,
    COALESCE(ps.total_discounted_trips, 0) AS total_discounted_trips
  FROM flight_metrics fm
  FULL OUTER JOIN browsing_metrics bm ON fm.user_id = bm.user_id
  FULL OUTER JOIN hotel_metrics hm ON fm.user_id = hm.user_id
  LEFT JOIN perks_summary ps ON fm.user_id = ps.user_id
),

scaled_metrics AS (
  SELECT
    user_id,
    discount_flight_proportion, -- Ensure this column is included
    CASE WHEN (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER()) != 0
         THEN (discount_flight_proportion - MIN(discount_flight_proportion) OVER()) / (MAX(discount_flight_proportion) OVER() - MIN(discount_flight_proportion) OVER())
         ELSE 0 END AS scaled_discount_flight_proportion,

    CASE WHEN (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER()) != 0
         THEN (avg_flight_discount - MIN(avg_flight_discount) OVER()) / (MAX(avg_flight_discount) OVER() - MIN(avg_flight_discount) OVER())
         ELSE 0 END AS scaled_avg_flight_discount,

    CASE WHEN (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER()) != 0
         THEN (ADS_flight_per_km - MIN(ADS_flight_per_km) OVER()) / (MAX(ADS_flight_per_km) OVER() - MIN(ADS_flight_per_km) OVER())
         ELSE 0 END AS scaled_ADS_flight_per_km,

    CASE WHEN (MAX(avg_checked_bags) OVER() - MIN(avg_checked_bags) OVER()) != 0
         THEN (avg_checked_bags - MIN(avg_checked_bags) OVER()) / (MAX(avg_checked_bags) OVER() - MIN(avg_checked_bags) OVER())
         ELSE 0 END AS scaled_avg_checked_bags,

    CASE WHEN (MAX(total_free_checked_bag) OVER() - MIN(total_free_checked_bag) OVER()) != 0
         THEN (total_free_checked_bag - MIN(total_free_checked_bag) OVER()) / (MAX(total_free_checked_bag) OVER() - MIN(total_free_checked_bag) OVER())
         ELSE 0 END AS scaled_total_free_checked_bag,

    CASE WHEN (MAX(avg_cost_per_night) OVER() - MIN(avg_cost_per_night) OVER()) != 0
         THEN (avg_cost_per_night - MIN(avg_cost_per_night) OVER()) / (MAX(avg_cost_per_night) OVER() - MIN(avg_cost_per_night) OVER())
         ELSE 0 END AS scaled_avg_cost_per_night,

    CASE WHEN (MAX(avg_rooms_booked) OVER() - MIN(avg_rooms_booked) OVER()) != 0
         THEN (avg_rooms_booked - MIN(avg_rooms_booked) OVER()) / (MAX(avg_rooms_booked) OVER() - MIN(avg_rooms_booked) OVER())
         ELSE 0 END AS scaled_avg_rooms_booked,

    CASE WHEN EXTRACT(EPOCH FROM (MAX(avg_session_time) OVER() - MIN(avg_session_time) OVER())) != 0
         THEN (EXTRACT(EPOCH FROM avg_session_time) - EXTRACT(EPOCH FROM MIN(avg_session_time) OVER())) / EXTRACT(EPOCH FROM (MAX(avg_session_time) OVER() - MIN(avg_session_time) OVER()))
         ELSE 0 END AS scaled_avg_session_time,

    CASE WHEN (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER()) != 0
         THEN (total_page_clicks - MIN(total_page_clicks) OVER()) / (MAX(total_page_clicks) OVER() - MIN(total_page_clicks) OVER())
         ELSE 0 END AS scaled_total_page_clicks,

    CASE WHEN (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER()) != 0
         THEN (conversion_rate - MIN(conversion_rate) OVER()) / (MAX(conversion_rate) OVER() - MIN(conversion_rate) OVER())
         ELSE 0 END AS scaled_conversion_rate
  FROM combined_metrics
),

final_metrics AS (
  SELECT
    sm.user_id,
    -- Bargain Hunter Index
    (sm.scaled_discount_flight_proportion * sm.scaled_avg_flight_discount * sm.scaled_ADS_flight_per_km) AS bargain_hunter_index,
    -- Flight Index
    (sm.scaled_discount_flight_proportion + sm.scaled_avg_flight_discount + sm.scaled_ADS_flight_per_km + sm.scaled_avg_checked_bags) AS flight_index,
    -- Browsing Index
    (sm.scaled_avg_session_time + sm.scaled_total_page_clicks + sm.scaled_conversion_rate) AS browsing_index,
    -- Hotel Index
    (sm.scaled_avg_cost_per_night + sm.scaled_avg_rooms_booked) AS hotel_index
  FROM scaled_metrics sm
),

combined_final AS (
  SELECT
    fm.user_id,
    fm.bargain_hunter_index,
    fm.flight_index,
    fm.browsing_index,
    fm.hotel_index,
    cm.discount_flight_proportion,
    hm.total_hotel_spending,
    ps.cancellation_pref,
    ps.flight_discount_pref,
    ps.hotel_discount_pref,
    ps.avg_cost_per_night,
    ps.avg_rooms_booked,
    ps.total_free_checked_bag,
    ps.is_frequent_traveler,
    ps.is_flight_discount_lover,
    ps.is_hotel_discount_lover,
    CASE
        WHEN ps.cancellation_pref > 0 THEN 'Free Cancellation'
        WHEN ps.is_frequent_traveler THEN 'Free Hotel Night with Flight'
        WHEN ps.is_flight_discount_lover THEN 'Exclusive Flight Discount'
        WHEN ps.is_hotel_discount_lover THEN 'Exclusive Hotel Discount'
        WHEN ps.flight_discount_pref > ps.hotel_discount_pref THEN 'Flight Discount'
        WHEN ps.total_free_checked_bag > 0 THEN 'Free Checked Bags'
        WHEN ps.avg_cost_per_night < 100 THEN 'Budget Hotel'
        ELSE 'Luxury Hotel'
    END AS preferred_perk,

    -- Adjusted User Group Classification
    CASE
        WHEN hm.total_hotel_spending > 5000 THEN 'Luxury Traveler'
        WHEN fm.bargain_hunter_index > 1.5 THEN 'Bargain Hunter'
        WHEN ps.is_frequent_traveler THEN 'Frequent Traveler'
        WHEN ps.is_flight_discount_lover THEN 'Flight Discount Lover'
        WHEN ps.is_hotel_discount_lover THEN 'Hotel Discount Lover'
        ELSE 'Casual Traveler'
    END AS user_group_classification
  FROM final_metrics fm
  LEFT JOIN hotel_metrics hm ON fm.user_id = hm.user_id
  LEFT JOIN perks_summary ps ON fm.user_id = ps.user_id
  LEFT JOIN combined_metrics cm ON fm.user_id = cm.user_id
)

SELECT * FROM combined_final;
"""
print('Result Query :')
display(pd.read_sql(sa.text(query),connection))

Result Query :

,user_id,bargain_hunter_index,flight_index,browsing_index,hotel_index,discount_flight_proportion,total_hotel_spending,cancellation_pref,flight_discount_pref,hotel_discount_pref,avg_cost_per_night,avg_rooms_booked,total_free_checked_bag,is_frequent_traveler,is_flight_discount_lover,is_hotel_discount_lover,preferred_perk,user_group_classification
0,531931,0.000000,0.353387,0.268695,0.410552,0.500000,985.0,0,0,0,320.50,1.500000,8.0,True,False,False,Free Hotel Night with Flight,Frequent Traveler
1,611065,0.000000,0.132353,0.554721,0.410857,0.000000,1681.0,0,0,0,323.25,1.500000,16.0,None,False,False,Free Checked Bags,Casual Traveler
2,229330,0.000000,0.044118,0.541842,0.489497,0.000000,3521.0,0,0,0,468.75,1.750000,8.0,None,False,False,Free Checked Bags,Casual Traveler
3,586762,0.000984,0.452041,0.415299,0.446034,0.333333,5819.0,0,1,0,1016.00,1.333333,8.0,True,False,False,Free Hotel Night with Flight,Luxury Traveler
4,536035,0.000000,0.701872,0.283830,0.400180,1.500000,582.0,0,0,0,227.00,1.500000,8.0,False,False,False,Free Checked Bags,Casual Traveler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,591155,0.000000,0.896168,0.164706,0.301692,0.500000,932.0,0,0,2,466.00,1.000000,8.0,True,False,False,Free Hotel Night with Flight,Frequent Traveler
5994,521235,0.002502,0.676229,0.695449,0.454509,0.600000,3709.0,0,2,0,491.40,1.600000,32.0,True,False,False,Free Hotel Night with Flight,Frequent Traveler
5995,600351,0.000000,0.088235,0.288459,0.365363,0.000000,1040.0,0,0,0,1040.00,1.000000,8.0,None,False,False,Free Checked Bags,Casual Traveler
5996,577044,0.000000,0.296197,0.389651,0.280006,0.333333,541.0,0,0,1,270.50,1.000000,9.0,True,False,False,Free Hotel Night with Flight,Frequent Traveler
5997,597300,0.007309,0.776452,0.274809,0.576220,2.000000,4156.0,0,1,0,1814.00,1.500000,0.0,False,False,False,Flight Discount,Casual Traveler